<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real-Time Asset Value in USDT</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Real-Time Asset Value in USDT</h1>
    <div id="assets">
      {{#each coins}}
        <p><strong>{{this}}:</strong>
          <span id="{{this}}-value">{{values.this}} USDT</span></p>
      {{/each}}
    </div>
    <hr />
    <h2>Total Value: <span id="total-value">{{total}} USDT</span></h2>
  </body>
</html>